/* CSS - Brand Gedesa */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&family=Yeseva+One&display=swap');

h1, h2 {
  font-family: 'Yeseva One', serif;
  color: #212124;
}

h3, h4, p {
  font-family: 'Work Sans', sans-serif;
  color: #212124;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}
